<nav class="navbar navbar-background">
  <p class="navbar-text" style="font-size: 16px; margin: 12px">MEDIME <span style="font-size: 14px;">Records</span></p>
</nav>


<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!isLoading" class="home-class">
  <div class="user">
    <mat-card>
      <p class="user-name">{{ user['person_name'] }}</p>
      <P class="user-email">{{ user['email_id'] }}</P>
    </mat-card>
  </div>
  <div class="content">
    <mat-expansion-panel *ngFor="let table of tableContent" class="margin-top">
      <mat-expansion-panel-header>
        {{table['key']}}
      </mat-expansion-panel-header>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th *ngFor="let tab of table['domainName']">
                <p>
                  {{ tab['domainName'] }}
                </p>
              </th>
            </tr>
          </thead>

          <tbody *ngFor="let body of table['value']">
            <td *ngFor="let section of body['content']">
              <p *ngIf="!ifAttachment(section, body)">{{ section['selected'] | typeformat }}</p>
              <p style="color:red;" *ngIf="ifAttachment(section, body)" (click)="pdfUrl(body['filePath'])">Attachment</p>
            </td>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </div>

</div>
